<div class="navbar-thanh-travels">
  <%= link_to root_path do %>
    <%= image_tag ("logo.png"), class: "logo" %>
  <% end %>

  <div class="navbar-right-items">
    <%= link_to "Asia", root_path %>
    <%= link_to "Europe", root_path %>
    <%= link_to "North America", root_path %>
    <%= link_to "About", root_path %>
  </div>
</div>

