<div class="navbar-thanh-travels">
  <%= link_to root_path do %>
    <%= image_tag ("logo.png"), class: "logo" %>
  <% end %>

  <div class="navbar-right-items">

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>Asia</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @asia_countries.sort.each do |c| %>
          <li>
            <%= link_to country_path(c.country_name.downcase) do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>Europe</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @europe_countries.sort.each do |c| %>
          <li>
            <%= link_to root_path do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>North America</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @namerica_countries.sort.each do |c| %>
          <li>
            <%= link_to root_path do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>About</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action 4</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

  </div>
</div>



