<div class="navbar-thanh-travels">
  <%= link_to root_path do %>
    <%= image_tag ("logo.png"), class: "logo" %>
  <% end %>

  <div class="navbar-right-items">
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>Asia</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @asia_countries.order(:country_name).each do |c| %>
          <li>
            <%= link_to country_path(c.country_name.downcase) do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>Europe</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @europe_countries.order(:country_name).each do |c| %>
          <li>
            <%= link_to country_path(c.country_name.downcase) do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <p>North America</p>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @namerica_countries.order(:country_name).each do |c| %>
          <li>
            <%= link_to country_path(c.country_name.downcase) do %>
              <%= c.country_name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="dropdown">
      <button>
        <%= link_to about_path do %>
            <p>About</p>
        <% end %>
      </button>
    </div>
  </div>
</div>

<!-- MOBILE HTML -->

<div class="navbar-mobile">
  <%= link_to root_path do %>
    <%= image_tag ("logo.png"), class: "logo" %>
  <% end %>

  <div class="navbar-right-items">
    <div id="mySidenav" class="sidenav">
      <a href="#" class="closebtn">&times;</a>
      <div class="navbar-continent">
        <h2>Asia</h2>
        <% @asia_countries.order(:country_name).each do |c| %>
          <%= link_to country_path(c.country_name.downcase) do %>
            <%= c.country_name %>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-continent">
        <h2>Europe</h2>
        <% @europe_countries.order(:country_name).each do |c| %>
          <%= link_to country_path(c.country_name.downcase) do %>
            <%= c.country_name %>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-continent">
        <h2>North America</h2>
        <% @namerica_countries.order(:country_name).each do |c| %>
          <%= link_to country_path(c.country_name.downcase) do %>
            <%= c.country_name %>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-continent">
        <%= link_to about_path do %>
          <h2>About</h2>
        <% end %>
      </div>


    </div>
    <!-- Use any element to open the sidenav -->
    <span id="opensidenav"><i class="fas fa-bars"></i></span>
  </div>
</div>


