<div class="home-thanh-travels">
  <div class="horizontal-scroll">
    <%= link_to location_path(@featured_locations[0].url) do %>
      <%= image_tag ("#{@featured_locations[0].url}-baner.jpg"), class: "scroll one" %>
    <% end %>

    <%= link_to location_path(@featured_locations[1].url) do %>
      <%= image_tag ("#{@featured_locations[1].url}-baner.jpg"), class: "scroll two" %>
    <% end %>

    <%= link_to location_path(@featured_locations[2].url) do %>
      <%= image_tag ("#{@featured_locations[2].url}-baner.jpg"), class: "scroll three" %>
    <% end %>
  </div>
</div>
