<div class="location-show-banner" style="background-image: url(<%= asset_path "#{@location.url}-baner.jpg" %>)">

  <h1><%= @location.location_name.upcase %></h1>

</div>

<div class="location-show-panel">
  <%= image_tag ("#{@location.url}-photo-horizontal-1.jpg"), class: "horizontal-alone" %>
</div>

<div class="location-show-panel">
  <%= image_tag ("#{@location.url}-photo-vertical-1.jpg"), class: "duo-vertical-first" %>
  <%= image_tag ("#{@location.url}-photo-horizontal-2.jpg"), class: "duo-horizontal-first" %>
</div>

<div class="location-show-panel-pano">
  <%= image_tag ("#{@location.url}-photo-pano-1.jpg"), class: "pano-first" %>
</div>

<div class="location-show-panel">
  <%= image_tag ("#{@location.url}-photo-vertical-2.jpg"), class: "duo-vertical-two" %>
  <%= image_tag ("#{@location.url}-photo-vertical-3.jpg"), class: "duo-vertical-three" %>
</div>

<div class="location-show-panel-pano">
  <%= image_tag ("#{@location.url}-photo-pano-2.jpg"), class: "pano-first" %>
</div>

<div class="location-show-panel">
  <%= image_tag ("#{@location.url}-photo-horizontal-3.jpg"), class: "horizontal-alone" %>
</div>

